.activity {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  color: #18223c;
}

.title-h1 {
  font-size: 40px;
  line-height: 44px;
  font-weight: 500;
}
.title-h3 {
  font-size: 20px;
  line-height: 28px;
}

.mt-4 {
  margin-top: 40px !important; 
}
.mt-3 {
  margin-top: 20px !important; 
}
.mb-3 {
  margin-bottom: 20px !important; 
}
.mb-2 {
  margin-bottom: 10px !important; 
}

.el-anim {
  opacity: 0;
  transition: all .4s
}